# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================

venv/
.env

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# macOS
# ==========================================

.DS_Store

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# Dataset (IMPORTANT)
# ==========================================

data/raw/
data/yolo/

# ==========================================
# Models
# ==========================================

*.onnx

# ==========================================
# Training Outputs
# ==========================================

runs/
outputs/

# ==========================================
# Logs
# ==========================================

logs/
*.log

# ==========================================
# Coverage / Testing
# ==========================================

.coverage
pytest_cache/

# ==========================================
# Temporary Files
# ==========================================

*.tmp
*.bak

.dockerignore